* {
    margin: 0;
    padding: 0;
    background: #282c34;
    color: white;
    
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}
main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 680px;
}
.presentacion h1{
    font-size: 70px;
}

.presentacion h2 {
    font-size: 40px;
    color: aliceblue;
}



.imagen img {
    width: 450px;
    height: 450px;
}

.card {
    width: 30em;
}
.card img {
    width: 100%;
}
.btn a {
    text-decoration: none;
    background-color: #0d6efd;
    color: aliceblue;
}
.btn a:hover {
    background-color: #0b5ed7;
}
